* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
  background: linear-gradient(rgba(255,245,245,1), rgba(255,229,195,1));
}
.v0_3 {
  width: 100%;
  height: 1024px;
  background: linear-gradient(rgba(255,245,245,1), rgba(255,229,195,1));
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: visible;
}
.arrow{
  position: absolute;
  width: 84px;
  height: 85px;
  left: 69px;
  top: 20px;
}
.danusan{
  position: absolute;
  left: 160px;
  right: 76.72%;
  top: 38px;
  bottom: 88.25%;
  font-family: Lets Espresso;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 65px;
  color: #744D37;
}
.gambarkiri{
  position: absolute;
  width: 530.69px;
  height: 427.73px;
  left: 79px;
  top: 170px;
  width: 400px;
  height: 300px;
}
.gambarkanan{
  position: absolute;
  width: 305px;
  height: 896px;
  left: 995px;
  top: -102px;
}
.kotak{
  position: absolute;
  width: 358px;
  height: 416px;  
  left: 615px;
  top: 105px;
  border-radius: 40px;
}
.kotaksignup{
  position: absolute;
  width: 120px;
  height: 23px;
  left: 730px;
  top: 460px;
  bottom: 50%;
  border: 2px solid #744D37;
  box-sizing: border-box;
  border-radius: 50px;
}
.tulisansignup{
  position: absolute;
  left: 29%;
  right: 33.5%;
  top: 48.14%; 
  bottom: 50.39%;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #744D37;
  white-space: pre;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v414_26 {
  width: 266px;
  height: 292px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 141px;
  left: 650px;
  overflow: hidden;
}
.v409_90 {
  width: 113px;
  color: rgba(115,77,55,1);
  position: absolute;
  top: 0px;
  left: 82px;
  font-family: Poppins;
  font-weight: ExtraBold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v409_91 {
  width: 266px;
  height: 246px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 46px;
  left: 0px;
  overflow: hidden;
}
.v409_93 {
  width: 257px;
  height: 22px;
  background: rgba(196,196,196,0.30000001192092896);
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 9px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v409_94 {
  width: 45px;
  color: rgba(115,77,55,1);
  position: absolute;
  top: 0px;
  left: 15px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v409_96 {
  width: 257px;
  height: 22px;
  background: rgba(196,196,196,0.30000001192092896);
  opacity: 1;
  position: absolute;
  top: 70px;
  left: 10px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v409_97 {
  width: 118px;
  color: rgba(115,77,55,1);
  position: absolute;
  top: 50px;
  left: 15px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v409_99 {
  width: 257px;
  height: 22px;
  background: rgba(196,196,196,0.30000001192092896);
  opacity: 1;
  position: absolute;
  top: 120px;
  left: 10px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v409_100 {
  width: 89px;
  color: rgba(115,77,55,1);
  position: absolute;
  top: 100px;
  left: 10px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v409_102 {
  width: 257px;
  height: 22px;
  background: rgba(196,196,196,0.30000001192092896);
  opacity: 1;
  position: absolute;
  top: 170px;
  left: 10px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v409_103 {
  width: 75px;
  color: rgba(115,77,55,1);
  position: absolute;
  top: 150px;
  left: 12px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v409_105 {
  width: 257px;
  height: 22px;
  background: rgba(196,196,196,0.30000001192092896);
  opacity: 1;
  position: absolute;
  top: 215px;
  left: 9px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v409_106 {
  width: 178px;
  color: rgba(115,77,55,1);
  position: relative;
  top: 60px;
  left: 14px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}